<div id="user-position">
  <%= @user.username %>
  <%= @user.address %>
  <%= @user.latitude %>
  <%= @user.longitude %>
</div>

<%= form_tag("/messages", method: :post) do %>
  <textarea name="content" id= "message-box" placeholder="Leave a Message"><%= @new_message.content %></textarea>
  <input type="hidden" name="user_id" id="user-id" value="<%= @user.id %>">
  <input type="hidden" name="latitude" id="user-latitude" value="<%= @user.latitude %>">
  <input type="hidden" name="longitude" id="user-longitude" value="<%= @user.longitude %>">
  <input type="submit" id="message-button" value="Drop">
<% end %>


<div id="messages-container">  
  <% @user.messages.order(id: :desc).each do |message| %>
    <div class="message">
      <ul>
        <li>
          <p><%= message.content %></p>
          <p><%= message.latitude %></p>
          <p><%= message.longitude %></p>
          <p><%= link_to("Delete", "/messages/#{message.id}", method: :delete) %></p>
        </li>
      </ul>
    </div>
  <% end %>
      
</div>